1. How to install:https://dash.plotly.com/installation # need pandas as well
2. User guide: https://dash.plotly.com/

In [1]:
#pip install dash

In [2]:
import pandas as pd
import dash
import plotly.graph_objects as go
from dash import Dash, html, Input, Output,dcc
import plotly.express as px

In [3]:
import plotly
plotly.__version__

'5.8.2'

In [4]:
df1=pd.read_csv("C://shuai//workshop//Python for Data Analytics//Employee data.csv")
df1.head()

,Unnamed: 0,id,gender,bdate,educ,jobcat,salary,salbegin,jobtime,prevexp,minority
0,0,1.0,Male,1.165415e+10,15,Manager,57000.0,27000.0,98.0,144.0,No
1,1,2.0,Male,1.185296e+10,16,Clerical,40200.0,18750.0,98.0,36.0,No
2,2,3.0,Female,1.094334e+10,12,Clerical,21450.0,12000.0,98.0,381.0,No
3,3,4.0,Female,1.150252e+10,8,Clerical,21900.0,13200.0,98.0,190.0,No
4,4,5.0,Male,1.174936e+10,15,Clerical,45000.0,21000.0,98.0,138.0,No

In [ ]:


# 1.Create a dash application
app =Dash(__name__)

# Get the layout of the application and adjust it.
# Create an outer division using html.Div and add title to the dashboard using html.H1 component
# Add a html.Div and core input text component
# Finally, add graph component.


app.layout = html.Div([
    html.H1('Education Level Performance Dashboard',style={'textAlign': 'center', 'color': '#503D36', 'font-size': 35}),
    dcc.Dropdown(df1.jobcat.unique(),'Manger',id='select-jobcat',style={'width':'30%','padding':'3px','font-size':'20px'}),
    html.Div([
                      html.Div([],id = 'scatter-plot'),
                      html.Div([],id = 'his-plot')
                      ],style={'display': 'flex'})
])



# 2.add callback decorator
@app.callback(Output(component_id='scatter-plot',component_property='children'),
              Output(component_id='his-plot',component_property='children'),
               Input(component_id='select-jobcat', component_property='value'))




# 3.Add computation to callback function and return graph
def get_graph(jobcat):
    
    df =  df1[df1['jobcat']==jobcat]
    fig1 = go.Figure(data=go.Scatter(x=df['educ'], y=df['salary'], mode='markers',marker=dict(color='green')))
    fig1.update_layout(title='Education level vs Salary',
                 xaxis_title='Education level', yaxis_title='Salary')
    
    fig2=px.histogram(df['educ'])
    fig2.update_layout(title='Education level histogram plot',
                 xaxis_title='Education level', yaxis_title='Count')
    
    return [dcc.Graph(figure=fig1),
             dcc.Graph(figure=fig2)]   

# 4.Run the app
if __name__ == '__main__':
    app.run_server(debug=True, use_reloader=False) #"use_reloader=False" need in jupyter, not need in spyder

Dash is running on http://127.0.0.1:8050/

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: on

**1. learn more about Data Visualization with Python**

https://www.coursera.org/learn/python-for-data-visualization#syllabus

**2. How to show dashboard other than at your loacal machine:**


* You can host your app locally within your IT infrastructure or you can deploy to AWS, Heroku
* Heroku can Sharing Public Dash apps for Free **but** you may be block if you ues university's computer when you install Heroku.

https://dash.plotly.com/deployment#:~:text=own%20machine.%20To%20share%20a%20Dash%20app%2C%20you,company%20is%20using%20Dash%20Enterprise.%20Dash%20Enterprise%20Deployment

use heroku to show: https://workshop-dashboard.herokuapp.com/